<nav class="navbar navbar-expand-lg">

  <div class="container justify-content-end">
    <ul class="navbar-nav flex-row">
      <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
        <a
          class="nav-link dropdown-toggle hidden-arrow"
          id="navbarDropdownMenuLink"
          role="button"
          mdbDropdownToggle
          aria-expanded="false"
        >
        <img class="rick" src="../../../../assets/icons/user.png" alt="" width="25px" height="25px">
        </a>
        <ul
          mdbDropdownMenu
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Meu perfil</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Notas de Desenvolvimento</a>
          </li>
          <li>
            <button class="dropdown-item" (click)="logout()">Sair</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>