.form-control {
    border: none;
    padding: 0 25px;
    color: white;
    border-radius: 35px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.1);

    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
}

.carousel {
    width: 100%;
}

.slide img {
    max-width: 100%;
    height: auto;
}

.card {
    margin-top: 20%;
    background: rgb(0,0,0);
    border: 3px solid var(--rick-bg-color-for);
    background: radial-gradient(circle, rgba(0,0,0,0) 79%, rgba(151,206,76,1) 100%);
    box-shadow: none !important;

    img {
        margin-top: -50%;
        border-radius: 100%;
        border: 3px solid var(--rick-bg-color-for);
    }

    h3 {
        margin-top: 5px;
        color: var(--rick-bg-color-for);
    }
}

.btn {
    background-color: var(--rick-bg-color-for);
}

.btn:hover {
    color: var(--primary-color);
    background-color: var(--rick-bg-color-one);
}

@media (max-width: 767px) {
    .banner-character {
        height: 300px;
        /* Ajuste de altura para telas menores */
    }

    .items p {
        margin: 0 15px;
        width: 40%;
        height: 40px;
        border-radius: 5px;
        color: white;
        background-color: rgba(0, 0, 0, 0.375);
    }

    .info-character h4,
    .info-character p,
    .items p {
        font-size: 16px;
    }

    .form-control {
        padding: 0 15px;
        height: 45px;
    }
}

@media (min-width: 768px) {
    .info-character h4 {
        font-size: 28px;
    }

    .info-character p {
        font-size: 20px;
    }
}