<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center p-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 text-center">
          <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Rick_and_Morty.svg"
            alt="Rick and Morty" class="img-fluid mb-4" style="max-width: 50%;" draggable="false">
          <div class="input">
            <input type="text" class="form-control rounded" placeholder="Pesquisar personagem"
              aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchTerm" (input)="search()">
        </div>
      </div>
      <br>
    <br>
      <br>
      <div class="row mt-5 justify-content-center">
        <div *ngFor="let slide of slides" class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card shadow-none mb-6 rounded align-items-center">
            <div class="card-body text-center">
              <img [src]="slide.image" alt="" class="img-fluid" draggable="false">
              <br>
              <h3 class="mt-2">{{ slide.name }}</h3>
              <p class="mt-2 d-flex align-items-center justify-content-center">
                <svg height="30" width="50" xmlns="http://www.w3.org/2000/svg">
                  <circle r="7" cx="20" cy="15" [attr.fill]="getStatusColor(slide.status)" />
              </svg>
                {{ slide.status }}
              </p>
              <button class="btn" (click)="selectCharacter(slide)">Ver detalhes</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-md">
            <li class="page-item" mdbTooltip="Hi! I'm tooltip" [class.active]="currentPage === page" *ngFor="let page of getVisiblePages()">
              <a class="page-link" href="javascript:void(0)"  (click)="changePage(page)">{{ page }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
